<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3><span style="font-size:x-large; font-weight:900;">Contact&nbsp;Us</span></h3>
            <p>1 Warriors Way, USA</p>
            <p>San Francisco, CA 94158</p>
            <p>Email: info@gsw.com</p>
            <p>Phone: +1 888-479-4667</p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/warriors/" target="_blank"><img src="/images/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/warriors" target="_blank"><img src="/images/x.png" alt="X"></a>
            <a href="https://www.instagram.com/warriors/" target="_blank"><img src="/images/instagram.png" alt="Instagram"></a>
            <a href="https://www.youtube.com/@warriors" target="_blank"><img src="/images/youtube.png" alt="You Tube"></a>
            <a href="https://www.tiktok.com/@warriors" target="_blank"><img src="/images/tiktok.png" alt="Tik Tok"></a>

            <!-- Add more social media icons and links here -->
        </div>
        <div class="footer-text">
            <p>&copy; 2024 Golden State Warriors. All rights reserved.</p>
        </div>
    </div>
</footer>
