<nav class="navbar">
  <div style="flex: 0.8;"></div>
  <a href="/">
      <img class="logo" src="/images/gsw_logo.png">
  </a>
  <img class="nba_logo" src="/images/nba.png">
  <div style="flex: 3;"></div>
  <a class="nav_buttons" href="/">HOME</a>
  <a class="nav_buttons" href="/roster">ROSTER</a>
  <a class="nav_buttons" href="/fixtures">FIXTURES</a>
  <a class="nav_buttons" href="/match_history">MATCH HISTORY</a>
  <div class="nav_buttons dropdown">
    <a class="nav_buttons" href="/shop">SHOP</a>
    <div class="dropdown-content">
      <a href="#">Cart</a>
      <a href="/shop/jerseys">Jerseys</a>
      <a href="/shop/t-shirts">T-Shirts</a>
      <a href="/shop/sweatshirts">Sweatshirts</a>
    </div>
  
  <label id="themeSwitch" class="switch">
      <input id="themeCheckbox" type="checkbox">
      <span class="slider round"></span>
  </label>
</nav>
