<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

    <img class="first_pic" src="/images/gate.webp">

        <p class="quote" >Step into the heart of Dub Nation, where the legacy of champions meets the roar of the Bay</p>
        <p class="get_free_tickets"><a href="/free_tickets">Click Here To Get Your Free Tickets Now</a></p>
        
        <%- include('includes/footer.ejs') %>
    
</body>
</html>