<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

    <div class="sale">50% OFF THIS MONTH</div>
      
        <h1 class="categories">CATEGORIES</h1>

        <div class="main-div">
            <a href="/shop/jerseys" class="fir-div">
            
                <h2>Jerseys</h1>
                <h3 class="shop_now">Shop now&#8594;</h3>
            </a>
            <div class="sec-div">
                <a href="/shop/sweatshirts" class="slika1">
              
                   <h2>Sweatshirts</h1>
                    <h3 class="shop_now">Shop now&#8594;</h3>
                   </a>
                <a href="/shop/t-shirts" class="slika2">
                
                   <h2>T-Shirts</h1>
                    <h3 class="shop_now">Shop now&#8594;</h3>
                </a>
            </div>
        </div>
        <%- include('includes/footer.ejs') %>

        <script src="javascript_shop.js"></script>
    
</body>
</html>